*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

.logo{
    width:100px;
}
.nav-container{
    background-color: rgb(255, 255, 255);
    display:flex;
    justify-content: space-around;
    box-shadow: 0 4px 5px grey;
    padding: 10px;
    position: fixed;
    z-index: 10;
    right:0;
    left:0;
    top:0;
    box-shadow: 0 4px 5px grey;
}
.left{
    
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.right{
   
    display:flex;
    justify-content: center;
    align-items: center;
   
    gap: 20px;

}
.right > div{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;

}

.nav-container1{
    display: flex;
    flex-flow:row wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom:1px solid gray;
    padding-bottom: 10px;
   
   
}

.nav-container1 > .right-half{
    display: flex;
    gap:10px;
}

.nav-container > .right-half >span{
    font-weight: 300;
}

.container{
    width:90vw;
    margin:auto;
    margin-top:130px;
}

/*Cards section*/
.card{
    margin-top: 10px;
    padding:10px;
    width:260px;
    border:0.1px solid white;
    position: relative;
    padding-bottom: 0;
}
.product1{  /* card image*/
    width: 240px;
  
}
.card p{
    margin:5px 0;
    font-weight:100 !important;
}

.rating{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0px;
    border-bottom: 0.1px solid gray;
   
}
.bullet{
    width:4px;
    height:4px;
    background-color: black;
    border-radius: 50%;
}
.offer-container{
    display: flex;
    padding:10px 0px;
    border-bottom: 0.2px solid gray;
    font-size:12px;
    align-items: center;
    gap:10px;
    color:#8A584B;
}

.cards-container{
    display:flex;
    justify-content: space-between;
    flex-flow: row wrap;
    gap:20px;
}

.card:hover{
    outline:0.5px solid gray;
}

.rating > .rating1{
    display:flex;
    align-items: center;
    background-color:#DB7C38;
    color:white;
    font-size:13px;
    padding:5px 8px;
}

.star{
    font: size 13px !important;
}

.card::before{
    content: 'PROMOTED';
    display: block;
    /*border:2px solid goldenrod;*/
    position: absolute;
    background-color: black;
    color: aliceblue;
    padding:4px;
    left: 2px;
}

.btn{
    display: block;
    border:none;
    font-weight: bold;
    color:blue;
    margin:5px auto;
    padding: 5px 0;
    visibility: hidden;
}
.card:hover .btn{
    visibility: visible;
}

/* footer section*/

.gs{
    width: 200px;
}
.as{
    width: 200px;
}

.footer{
    background-color: black;
    display: grid;
    grid-template-columns: repeat(4,1fr );
    padding:40px;

}
.footer > div{
    display: flex;
    flex-flow: column wrap;
  
    gap:5px;
}

.footer h5{
    color:#808080;
    margin:10px 0px;
}

.footer > div > a{
    color:white;
    text-decoration: none;

}
.footer img{
    width: 180px;
    border: 2px solid grey;
    transition-duration: 0.5s;
    border-radius: 10px;;
}

.footer img:hover{
    width:200px;
}

.store{
   
    align-items: center;


}

.footer a:hover{
    font-weight: bold;
}