*{
    margin: 0;
    padding: 0;
}

.logo{
    width:100px;
}
.nav-container{
    
    display:flex;
    justify-content: space-around;
    box-shadow: 0 4px 5px grey;
    padding: 10px;
}
.left{
    
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.right{
   
    display:flex;
    justify-content: center;
    align-items: center;
   
    gap: 20px;

}
.right > div{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;

}

.nav-container1{
    display: flex;
    flex-flow:row wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom:1px solid gray;
    padding-bottom: 10px;
   
}

.nav-container1 > .right-half{
    display: flex;
    gap:10px;
}

.nav-container > .right-half >span{
    font-weight: 300;
}

.container{
    width:90vw;
    margin:auto;
    
}

/*Cards section*/
.card{
    margin-top: 10px;
    padding:10px;
    width:260px;
    border:0.1px solid white;
}
.product1{  /* card image*/
    width: 240px;
  
}
.card p{
    margin:5px 0;
    font-weight:100 !important;
}

.rating{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0px;
    border-bottom: 0.1px solid gray;
   
}
.bullet{
    width:4px;
    height:4px;
    background-color: black;
    border-radius: 50%;
}
.offer-container{
    display: flex;
    padding:10px 0px;
    border-bottom: 0.2px solid gray;
    font-size:12px;
    align-items: center;
    gap:10px;
}

.cards-container{
    display:flex;
    justify-content: space-between;
    flex-flow: row wrap;
    gap:20px;
}

.card:hover{
    outline:0.5px solid gray;
}

.rating > .rating1{
    display:flex;
    align-items: center;
    background-color:#DB7C38;
    color:white;
    font-size:13px;
    padding:5px 8px;
}

.star{
    font: size 13px !important;
}

